$lightBgColor: #F0EDF2;
$darkBgColor: #050505;

$lightTextColor: #F7EDED;
$darkTextColor: #22181C;

$firstColor: #2B3238; /* Gray */
$secondColor: #058ED9; /* Blue */
$thirdColor: #E74C3C; /* Red */

$defaultFontColor: $darkTextColor;

$pageBgColor: $lightBgColor;
$galleryBgColor: $darkBgColor;
$inspirationColor: $lightTextColor;


$linkColor: $secondColor;
$linkHover: $firstColor;
$linkActive: lighten($linkColor, 25%);
$linkVisited: darken($linkColor, 25%);


$contentWidth: 55%;


$footerSize: 80px;
$headerColor: $firstColor;
$navHoverColor: $secondColor;
$footerColor: $firstColor;
$disclaimerColor: lighten($footerColor, 50%);
$copyrightColor: lighten($footerColor, 25%);


html {
	background-color: $pageBgColor;
	font-family: "adelle";
	height: 100%;
	box-sizing: border-box;
	color: $defaultFontColor;
}

body {
	margin: 0;
	padding:0;
	height:100%;
}

a {
	color: $linkColor;
	&:visited {
		color: $linkVisited;
	}
	&:hover {
		color: $linkHover;
	}
	&:active {
		color: $linkActive;
	}
}

.bold {
	font-weight: 700; 
}

.wrapper {
	min-height:100%;
	position:relative;
}

.content {
    margin-left: auto;
    margin-right: auto;
	padding-bottom: $footerSize;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: $contentWidth;
}

.inspiration {
	font-size: 250%;
    text-align: center;
	display: block;
    color: $inspirationColor;
    padding-top: 15px;
	font-weight: 700;
    font-style: italic;
}

.img_box {
	background-color: $galleryBgColor;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	    max-width: 100%;
	    padding: 25px 25px 50px 25px;
	    width: auto\9; /* ie8 */
	}
}

.subtitle {
	text-align: right;
	max-width: $contentWidth;
	font-size: 115%;

	.img_title {
		font-style: italic;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    font-weight: 700;
	}
}

.textBox {
	padding: 15px;
	margin-bottom: 15px;

	p {
		display: block;
		max-width: 50%;
		text-align: left;
	}
}

.header {
	width: 100%;
	background-color: $headerColor;
	border-bottom: thin solid darken($headerColor, 10%);
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

	li {
		display: block;
		float: left;
		text-align: center;
		font-size: 100%;

		.homeIcon {
			/*font-family: "vortice", monospace;*/
			font-weight: 900;
		}

		.navItem {
			padding: 16px 18px;
			text-decoration: none;
			display: block
		}

		a {
			color: $lightTextColor;
			&:hover {
				background-color: $navHoverColor;
			}
		}

		span {
			color: $lightTextColor;
			background-color: $navHoverColor;
			font-weight: 600;
		}
	}
}

.footer {
	width:100%;
	height: $footerSize;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	background-color: $footerColor;
	border-top: thin solid darken($footerColor, 10%);

	.disclaimer {
	    color: $disclaimerColor;
	}

	.copyright {
		color: $copyrightColor;
	}
}
